h1{
    font-family: Georgia;
    color:blue;
    text-align: center;
}

header{
    background:url('./components/images/car.jpg');
    background-size: cover;
    background-position: center;
    min-height: 1000px;
} 

@media screen and (max-width:670px){
  header{
    min-height: 250px;
  }
}